@charset "ISO-8859-1";
.steps-form-3 {
	width: 2px;
	height: 470px;
	position: relative;
}

.steps-form-3 .steps-row-3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.steps-form-3 .steps-row-3:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: #7283a7;
}

.steps-form-3 .steps-row-3 .steps-step-3 {
	height: 150px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	position: relative;
}

.steps-form-3 .steps-row-3 .steps-step-3.no-height {
	height: 50px;
}

.steps-form-3 .steps-row-3 .steps-step-3 p {
	margin-top: 0.5rem;
}

.steps-form-3 .steps-row-3 .steps-step-3 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important;
}

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 {
	width: 60px;
	height: 60px;
	border: 2px solid #59698D;
	background-color: white !important;
	color: #59698D !important;
	border-radius: 50%;
	padding: 18px 18px 15px 15px;
	margin-top: -22px;
}

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3:hover {
	border: 2px solid #4285F4;
	color: #4285F4 !important;
	background-color: white !important;
}

.steps-form-3 .steps-row-3 .steps-step-3 .btn-circle-3 .fa {
	font-size: 1.7rem;
}