@charset "ISO-8859-1";
html, body, header, .carousel {
	height: 60vh;
}

@media ( max-width : 740px) {
	html, body, header, .carousel {
		height: 100vh;
	}
}

@media ( min-width : 800px) and (max-width: 850px) {
	html, body, header, .carousel {
		height: 100vh;
	}
}

@media ( min-width : 800px) and (max-width: 850px) {
	.navbar
	:not
	 
	(
	.top-nav-collapse
	 
	)
	{
	background
	:
	 
	#1C2331
	 
	!
	important
	;
	
	
}

}
.view, body, html {
	height: 100%
}

@media ( max-width :740px) {
	.full-page-intro {
		height: 1000px
	}
}

.carousel {
	height: 80%
}

.carousel .carousel-inner, .carousel .carousel-inner .active, .carousel .carousel-inner .carousel-item
	{
	height: 100%
}

@media ( max-width :900px) {
	.carousel {
		height: 100%
	}
}

.navbar {
	background-color: #C51353
}

.page-footer, .top-nav-collapse {
	background-color: #24A190
}

@media only screen and (max-width:768px) {
	.navbar {
		background-color: #24A190
	}
}
</style>
<style type="text/css">/* Chart.js */
@
-webkit-keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

}
@
keyframes chartjs-render-animation {
	from {opacity: 0.99
}

to {
	opacity: 1
}

.chartjs-render-monitor {
	-webkit-animation: chartjs-render-animation 0.001s;
	animation: chartjs-render-animation 0.001s;
}