<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.page-footer {
	position: absolute;
	width: 100%;
}
</style>
<head th:replace="includes/headers::meta_data"></head>
<body aria-busy="true">

	<div th:replace="includes/headers::menu"></div>
	<div style="height: 150px;"></div>


	<!--Main layout-->
	<main>
		<div class="container" style="color : black">
		<div class="row">
			<form action="do_authentification" method="POST"
				class="text-center offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
				<p class="h4 mb-4" style="font-family: caviar dreams;">Connexion</p>
				<!-- Email -->
				<input type="email" id="defaultLoginFormEmail" name="login"
					class="form-control mb-4" placeholder="E-mail">
				<!-- Mot de passe -->
				<input type="password" id="defaultLoginFormPassword" name="motDePasse"
					class="form-control mb-4" placeholder="Mot de passe" required="required">
				<div class="d-flex justify-content-around">
					<div>
						<!-- Enregistrer le mot de passe -->
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="defaultLoginFormRemember"> <label
								class="custom-control-label" for="defaultLoginFormRemember">Enregistrez le mot de passe ?</label>
						</div>
					</div>
					<div>
					<a  th:href="@{/afficher_mdp_perdu}" >Mot de passe oublié</a>
					</div>
				</div>
				<div th:if="${messageErr!=null}" style="color:red"><span th:text="${messageErr}"></span></div>
				<!-- Sign in button -->
				<div><button class="btn btn-red btn-block my-4" type="submit">S'identifier</button></div>
				<!-- Register -->
				<p>
					Pas encore membre? <a th:href="@{/inscription}">Inscrivez-vous</a>
				</p>
			</form>
	</main>
	<!--Main layout-->
	<!--Footer-->
	<div th:replace="includes/footer::footer"></div>
	<!--/.Footer-->
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.9.0.min.js"></script>
	<div class="hiddendiv common"></div>
	<script type="text/javascript"
		src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>
	<script type="text/javascript" src="./js/mes_scripts/inscription.js"></script>

</body>
</html>